.jumbotron {
    background-image: url("https://jooinn.com/images/milky-green-blurred-background-2.jpg")
}

.container {
    color: black;
}

.body {
    background-image: url("http://papers.co/wallpaper/papers.co-sa52-blurred-white-blur-wallpaper-25-wallpaper.jpg")
}